# Name                    Version                   Build  Channel
_tflow_select             2.1.0                       gpu
absl-py                   0.9.0                    py36_0
astor                     0.8.0                    py36_0
blas                      1.0                         mkl
ca-certificates           2020.1.1                      0
certifi                   2020.4.5.1               py36_0
cudatoolkit               9.0                           1
cudnn                     7.6.5                 cuda9.0_0
gast                      0.3.3                      py_0
grpcio                    1.27.2           py36h351948d_0
h5py                      2.10.0           py36h5e291fa_0
hdf5                      1.10.4               h7ebc959_0
icc_rt                    2019.0.0             h0cc432a_1
intel-openmp              2020.1                      216
keras-applications        1.0.8                      py_0
keras-base                2.2.4                    py36_0
keras-gpu                 2.2.4                         0
keras-preprocessing       1.1.0                      py_1
libprotobuf               3.11.4               h7bd577a_0
markdown                  3.1.1                    py36_0
mkl                       2020.1                      216
mkl-service               2.3.0            py36hb782905_0
mkl_fft                   1.0.15           py36h14836fe_0
mkl_random                1.1.0            py36h675688f_0
numpy                     1.18.1           py36h93ca92e_0
numpy-base                1.18.1           py36hc3f5095_1
opencv-python             4.2.0.34                 pypi_0    pypi
openssl                   1.1.1g               he774522_0
pip                       20.0.2                   py36_3
protobuf                  3.11.4           py36h33f27b4_0
pyreadline                2.1                      py36_1
python                    3.6.10               h9f7ef89_2
pyyaml                    5.3.1            py36he774522_0
scipy                     1.4.1            py36h9439919_0
setuptools                46.4.0                   py36_0
six                       1.14.0                   py36_0
sqlite                    3.31.1               h2a8f88b_1
tensorboard               1.9.0            py36he025d50_0
tensorflow                1.9.0           gpu_py36hfdee9c2_1
tensorflow-base           1.9.0           gpu_py36h6e53903_0
tensorflow-gpu            1.9.0                hf154084_0
termcolor                 1.1.0                    py36_1
tqdm                      4.46.0                   pypi_0    pypi
vc                        14.1                 h0510ff6_4
vs2015_runtime            14.16.27012          hf0eaf9b_1
werkzeug                  1.0.1                      py_0
wheel                     0.34.2                   py36_0
wincertstore              0.2              py36h7fe50ca_0
yaml                      0.1.7                hc54c509_2
zlib                      1.2.11               h62dcd97_4
