<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./style.css">
    <title>Language predictor</title>
</head>
<body>

    <h1>Language Prediction Model</h1>
    {% if lang %}
    <p>{% lang %}</p>
    {%endif%}
    <form  method="post" action="/predict">
        <label>Enter the text</label>
        <input type="text" name="lang"><br/><br/>
        <input type="submit" name="predict">
    </form>
    
</body>
</html>